.title{
        font-size: 90px;
}
.subtitle{
    font-size: 30px;
    margin: 20px 0;

}

.galleryContainer{
    display: flex;
    gap: 50px;
}

.card{
    width: 260px;
    height: 330px;
    border-radius: 5px;
    border: 4px solid #bbb;
    position: relative;
    cursor: pointer;
}
.img{
    object-fit: cover;
    
}
.imgTitle{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    
}

.card:hover .imgTitle{
    color: #53c28b;
}